#form {
  margin: 0% 4% 1% 4%;
}
#radisson {
  margin: 1% 4% 0% 4%;
  padding-top: 2%;
  height: 500px;
  width: 500px;
}
#description {
  position: absolute;
  margin: 1% 4% 2% 4%;
  padding-bottom: 6%;
}
