header {
  background-color: rosybrown;
}
body {
  margin: 0%;
  height: 100%;
  width: 100%;
  background-color: #e0e0e0;
}
#logo {
  height: 60px;
  width: 60px;
}
section {
  height: 100%;
  width: 100%;
}
.cards {
  margin: 2%;
  background-color: rgb(132, 136, 139);
  width: 40%;
}
.hotels {
  height: 200px;
  width: 250px;
}
.socialmedia {
  height: 20px;
  width: 22px;
}
footer {
  background-color: rosybrown;
}
