.cards {
  background-color: rgb(132, 136, 139);
  width: 40%;
  margin: 0px 70px 50px;
  display: inline-block;
}
.hotels {
  height: 200px;
  width: 250px;
}
.hotelList {
  margin-bottom: 4%;
}
#list-view a {
  text-decoration: none;
  color: black;
}
.list ul {
  list-style-type: none;
  text-align: center;
}
.list ul a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
}
.list ul li {
  display: inline;
}
#list_view {
  scroll-behavior: smooth;
}
#map-view {
  scroll-behavior: smooth;
  display: none;
}
h3,
p {
  text-decoration: none;
  color: black;
}
#view {
  margin-top: 5%;
  margin-bottom: 2%;
}
